.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -8px;
    right: 50px;
}

a{
    color: #4BBDB5;

    &.active{
        color: #DB57A7;
    }
}

.logo{
    cursor: pointer;

    &:focus{
        outline: none;
    }
}